body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 179, 170);
    margin: 0;
}

.hero{
    background-image: url(../img/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 2px black;
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
}

header h2{
    color: black;
    background-color: rgb(163, 179, 170);
    border-bottom: solid;
    text-align: left;
    padding: 5px;
}

footer{
    height: 80px;
    color: white;
    background-color: rgb(98, 109, 103);
    text-align: center;
    text-shadow: 3px 3px 2px black;
    line-height: 80px;
}